* {
  box-sizing: border-box;
}

#header {
  text-align: center;
  font-size: 70px;
}
#homeButton {
  text-align: right;
  margin-right: 50px;
}

.mainSection:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
}

.column.btns {
  width: 33%;
  background-color: red;
  text-align: center;
}

.column.selections {
  width: 33%;
  background-color: yellow;
}

.column.picture {
  width: 30%;
  background-color: blue;
}

ul {
  list-style-type: none;
}

.menu li {
  background-color: rgba(52, 152, 219, 1);
  text-decoration: none;
  color: #ffffff;
  padding: 15px 30px;
  margin: 3px 50px;
  font-size: 1.2em;    
  width: 180px;
  padding: 10px 30px;
}   

.menu li:hover {
  background-color: rgba(50, 51, 52, 0.8);
}

#name {
  font-size: 30px;
  margin-left: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.figure {
  width: 300px;
  height: 300px;
  display: block;
  position: relative;
}

.head {
  width: 50px;
  height: 60px;
  border: 5px solid black;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 21px;
  left: 153px;
  z-index: 1;
  transform-origin: center bottom;
}

.torso {
  width: 6px;
  height: 100px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 80px;
  left: 176px;
}

.leftleg {
  width: 6px;
  height: 100px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 175px;
  left: 175px;
  transform: rotate(12deg);
  transform-origin: top;
}

.rightleg {
  width: 6px;
  height: 100px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 175px;
  left: 177px;
  transform: rotate(-12deg);
  transform-origin: top;
}

.leftarm {
  width: 100px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 86px;
  left: 77px;
  transform-origin: 100%;
  transform: rotate(-50deg);
}

.rightarm {
  width: 100px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 86px;
  left: 181px;
  transform-origin: 0%;
  transform: rotate(50deg);
}

.leftfoot {
  width: 30px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 270px;
  left: 130px;
  transform: rotate(8deg);
}

.rightfoot {
  width: 30px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 270px;
  left: 198px;
  transform: rotate(-8deg);
}

/* font families */
@font-face {
  font-family: dalekFont;
  src: url(Other/dalek.ttf);
}

#font1 {
  font-family: dalekFont;
}

@font-face {
  font-family: goudyFont;
  src: url(Other/goudy.TTF);
}

#font2 {
  font-family: goudyFont;
}

@font-face {
  font-family: magnetoFont;
  src: url(Other/magneto.TTF);
}

#font3 {
  font-family: magnetoFont;
}

@font-face {
  font-family: segoeFont;
  src: url(Other/segoe.ttf);
}

#font4 {
  font-family: segoeFont;
}

@font-face {
  font-family: snapFont;
  src: url(Other/snap.TTF);
}

#font5 {
  font-family: snapFont;
}


/* Original code
.figure {
  width: 300px;
  height: 300px;
  display: block;
  position: relative;
}

.head {
  width: 50px;
  height: 60px;
  border: 5px solid black;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 21px;
  left: 133px;
  z-index: 1;
  animation: rock 1s alternate infinite ease-in-out;
  transform-origin: center bottom;
}

@keyframes rock {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.torso {
  width: 6px;
  height: 100px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 80px;
  left: 156px;
}

.leftleg {
  width: 6px;
  height: 100px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 175px;
  left: 155px;
  transform: rotate(12deg);
  transform-origin: top;
}

.rightleg {
  width: 6px;
  height: 100px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 175px;
  left: 157px;
  transform: rotate(-12deg);
  transform-origin: top;
}

.leftarm {
  width: 100px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 86px;
  left: 57px;
  animation: wave 1s alternate infinite ease-in-out;
  transform-origin: 100%;
  transform: rotate(-50deg);
}

@keyframes wave {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

.rightarm {
  width: 100px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 86px;
  left: 161px;
  animation: wave2 1s alternate infinite ease-in-out;
  transform-origin: 0%;
  transform: rotate(50deg);
}

@keyframes wave2 {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}

.leftfoot {
  width: 30px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 270px;
  left: 110px;
  transform: rotate(8deg);
}

.rightfoot {
  width: 30px;
  height: 6px;
  border: 3px solid black;
  display: block;
  position: absolute;
  top: 270px;
  left: 178px;
  transform: rotate(-8deg);
} */