/*************** Page ***************/
* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-image: url("/Pics/ajax/worldMap2.png");
  background-repeat: no-repeat;
  background-size: cover;
}


button {
  background-color: orange;
  font-size: 20px;
  transition: background-color 0.5s, color 0.5s;
  margin-bottom: 50px;
}

.btn:hover {
  background-color: darkslateblue;
  color: bisque;
}



/*************** Header ***************/
#header {
  text-align: center;
  font-size: 70px;
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 40px;
}

#header::after {
  content: "";
  clear: both;
  display: table;
}

#homeButton{
  margin-right: 25px;
  margin-top: 10px;
  float: right;
}

#displayLanguage {
  width: 80%;
  margin: auto;
  font-size: 30px;
}

/*************** Language Options ***************/
.translation {
  text-align: center;
  min-height: 100px;
}


.btn:hover ~ #hello {animation: skewOut 3s ease-in-out;}
.btn:hover ~ #goodbye {animation: bounceOut 3s;}
.btn:hover ~ #thankYou {animation: spin 3s;}

@keyframes spin {
  from {
    transform-origin: center;
    opacity: 1;
  }
  50% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 180deg);
    opacity: 0;
  }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 360deg);
    opacity: 1;
  }
}

@keyframes bounceOut {
  10% {
    opacity: 1;
    transform: translate3d(-40px, 0, 0);
  }
  20% {
    opacity: 1;
    transform: translate3d(40px, 0, 0);
  }
  50% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  80% {
    opacity: 1;
    transform: translate3d(40px, 0, 0);
  }
  90% {
    opacity: 1;
    transform: translate3d(-40px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

@keyframes skewOut {
  from {
    opacity: 1;
  }
  50% {
    transform: translate3d(100%, 0, 0) skewX(50deg);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0) skewX(-50deg);
    opacity: 1;
  }
}

