* {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f2ccff;
  text-align: center;
}

#header {
  font-size: 45px;
}

.intro {
  font-size: 25px;
}

.btn {
    background-color: #39004d;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
}

#fileInfo {
  font-size: 20px;
  white-space: pre;
  min-height: 100px;
  padding: 20px;
}