/********** header **********/
#header {
  text-align: center;
  font-size: 70px;
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 40px;
}

#header::after {
  content: "";
  clear: both;
  display: table;
}

#homeButton{
  margin-right: 25px;
  margin-top: 10px;
  float: right;
}

/********** dog pics **********/
.pic-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #666666;
  padding: 10px;
}

.pic-grid-item {
  background-color: black;
  border: 10px solid #666666;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.dogPic {
  height: 200px;
  width: auto;
}

/********** word scramble **********/
#unscrambleSection {
  margin: auto;
}

.scrambleLine {
  padding-top: 15px;
}

.scrambleText {
  font-size: 25px;
  min-width: 200px;
  display: inline-block;
  padding-left: 50px;
}

.scrambleInput {
  font-size: 25px;
  width: 300px;
}

.scrambleCor {
  font-size: 25px;
  min-width: 300px;
  display: inline-block;
  padding-left: 50px;
}

/********** dog names **********/