* {
  background-color: black;
}

#header {
  color: lightslategray;
  margin-left: 30px;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

hr {
  border: 1px solid lightslategray;
}

h2 {
  color: lightgrey;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 30px;
}

p {
  color: lightslategray;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 30px;
}

.menu {
  margin: 50px;
  /* width: 50%; */
  height: 50px;
}
.menu a {
  background-color: lightslategray;
  text-align: center;
  text-decoration: none;
  color: darkslategray;
  padding: 15px;
  margin: 2px;
  font-size: 50px;
  /* min-width: 100px; */
}

/********************* Fade *********************/
.fade a.with {
  opacity: 1.0;
  transition: opacity 3s;
}
.fade a.with:hover {opacity: 0.5;}

.fade a.without {
  opacity: 1.0;
}
.fade a.without:hover {opacity: 0.5;}


/********************* Color *********************/
.color a.with {
  transition: background-color 3s, color 2s;
}
.color a.with:hover {
  background-color: darkred;
  color: white;
}

.color a.without {}
.color a.without:hover {
  background-color: darkred;
  color: white;
}


/********************* Border Radius *********************/
.border-radius a.with {transition: border-radius 2s;}
.border-radius a.with:hover {border-radius: 50%;}

.border-radius a.without {}
.border-radius a.without:hover {border-radius: 50%;}


/********************* Box Shadow *********************/
.box-shadow a.with {transition: box-shadow 2s;}
.box-shadow a.with:hover {box-shadow: inset 0 0 0 10px red;}

.box-shadow a.without {}
.box-shadow a.without:hover {box-shadow: inset 0 0 0 10px red;}


/********************* Size *********************/
.size a.with {transition: font-size 2s;}
.size a.with:hover {font-size: 80px;}

.size a.without {}
.size a.without:hover {font-size: 80px;}


/********************* Combo *********************/
.combo a.with {
  transition: background-color 2s, 
              color 2s, 
              border-radius 2s, 
              box-shadow 2s, 
              font-size 2s;
}
.combo a.with:hover {
  background-color: darkred;
  color: white;
  border-radius: 50%;
  box-shadow: inset 0 0 0 10px blue;
  font-size: 80px;
}

.combo a.without {}
.combo a.without:hover {
  background-color: darkred;
  color: white;
  border-radius: 50%;
  box-shadow: inset 0 0 0 10px blue;
  font-size: 80px;
}


/********************* Circles *********************/
.container {
  margin: 100px;
}

.circle {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 10px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
}
  
.container:hover .circle {
  transform: translateX(400px);
}

.label {
  margin: auto;
  background-color: inherit;
  width: 60px;
}



/********************* Timing *********************/
.circle0 {
  background: PaleTurquoise;
  transition: transform 3s linear;
} 

.circle1 {
  background: salmon;
  transition: transform 3s ease;
}

.circle2 {
  background: lightskyblue;
  transition: transform 3s ease-in;
}

.circle3 {
  background: khaki;
  transition: transform 3s ease-out;
}

.circle4 {
  background: mediumturquoise;
  transition: transform 3s ease-in-out;
}


/********************* Duration *********************/
.circle5 {
  background: PaleTurquoise;
  transition: transform 1s;
} 

.circle6 {
  background: salmon;
  transition: transform 2s;
}

.circle7 {
  background: lightskyblue;
  transition: transform 3s;
}

.circle8 {
  background: khaki;
  transition: transform 4s;
}

.circle9 {
  background: mediumturquoise;
  transition: transform 5s;
}


/********************* Delay *********************/
.circle10 {
  background: PaleTurquoise;
  transition: transform 3s;
} 

.circle11 { 
  background: salmon;
  transition: transform 3s 0.5s;
}

.circle12 {
  background: lightskyblue;
  transition: transform 3s 1s;
}

.circle13 {
  background: khaki;
  transition: transform 3s 1.5s;
}

.circle14 {
  background: mediumturquoise;
  transition: transform 3s 2s;
}