/*************** Page ***************/
* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-image: url("/Pics/ajax/worldMap2.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.btn {
  background-color: orange;
  font-size: 20px;
  transition: background-color 0.5s, color 0.5s, font-size 0.5s;
}

.btn:hover {
  background-color: darkslateblue;
  color: bisque;
  font-size: 25px;
}

/*************** Header ***************/
#header {
  text-align: center;
  font-size: 70px;
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 40px;
}

#header::after {
  content: "";
  clear: both;
  display: table;
}

#homeButton{
  margin-right: 25px;
  margin-top: 10px;
  float: right;
}

/*************** Display Region Search ***************/
#displayRegion {
  width: 100%;
  margin-left: 100px;
  font-size: 30px;
}

/* Transform example 1 */
.mapImg img {
  transition: transform 3s, height 3s;
  width: auto;
  height: 50px;
  position: absolute;
}

.regionSelect:hover {
  text-shadow: 1px 1px 2px orange, 0 0 10px darkslateblue, 0 0 25px orange;
}

#northAmerica:hover .mapImg img {
  transform: translate(400px, -20px);
  height: 300px;
}

#southAmerica:hover .mapImg img {
  transform: translate(400px, -83px);
  height: 300px;
}

#europe:hover .mapImg img {
  transform: translate(400px, -150px);
  height: 300px;
}

#africa:hover .mapImg img {
  transform: translate(400px, -213px);
  height: 300px;
}

#asia:hover .mapImg img {
  transform: translate(400px, -276px);
  height: 300px;
}

#oceania:hover .mapImg img {
  transform: translate(400px, -340px);
  height: 300px;
}

/* Transform example 2 */
.mapImg2 img {
  transition: transform 3s, scale 3s;
  width: auto;
  height: 50px;
  position: absolute;
}

.regionSelect2:hover {
  text-shadow: 1px 1px 2px orange, 0 0 10px darkslateblue, 0 0 25px orange;
}

#northAmerica2:hover .mapImg2 img {
  transform: translate(400px, 60px) scale(4, 4);
}

#southAmerica2:hover .mapImg2 img {
  transform: translate(400px, 0px)  scale(4, 4);
}

#europe2:hover .mapImg2 img {
  transform: translate(400px, -70px) scale(4, 4);
}

#africa2:hover .mapImg2 img {
  transform: translate(400px, -140px) scale(4, 4);
}

#asia2:hover .mapImg2 img {
  transform: translate(400px, -200px) scale(4, 4);
}

#oceania2:hover .mapImg2 img {
  transform: translate(400px, -270px) scale(4, 4);
}

/* Transform example 3 */
.mapImg3 img {
  transition: transform 3s, height 3s, rotate 3s;
  width: auto;
  height: 50px;
  position: absolute;
}

.regionSelect3:hover {
  text-shadow: 1px 1px 2px orange, 0 0 10px darkslateblue, 0 0 25px orange;
}

#northAmerica3:hover .mapImg3 img {
  transform: translate(400px, -20px) rotate(360deg);
  height: 300px;
}

#southAmerica3:hover .mapImg3 img {
  transform: translate(400px, -83px)  rotate(360deg);
  height: 300px;
}

#europe3:hover .mapImg3 img {
  transform: translate(400px, -150px) rotate(360deg);
  height: 300px;
}

#africa3:hover .mapImg3 img {
  transform: translate(400px, -213px) rotate(360deg);
  height: 300px;
}

#asia3:hover .mapImg3 img {
  transform: translate(400px, -276px) rotate(360deg);
  height: 300px;
}

#oceania3:hover .mapImg3 img {
  transform: translate(400px, -340px) rotate(360deg);
  height: 300px;
}



