body {
  background-color: #FBE8A6;
}

h1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #303C6C;
  text-shadow: 1px 1px 2px #FBE8A6, 0 0 10px #303C6C, 0 0 25px #F4976C;
}

#assignment-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

#assignment-table td, #assignment-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#assignment-table tr:nth-child(even){background-color: #B4DFE5;}

#assignment-table tr:nth-child(odd){background-color: #D2FDFF;}

#assignment-table tr:hover {background-color: #F4976C;}

#assignment-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #303C6C;
  color: white;
}

#assignment-table td a {
  display: block;
  width: 100%;
  text-decoration: none;
}