body {
  background-color: #FBE8A6;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: #303C6C;
  text-shadow: 1px 1px 2px #F4976C, 0 0 10px #303C6C, 0 0 25px #F4976C;
}

#assignment-table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

#assignment-table td, #assignment-table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: large;
}

#assignment-table tr:nth-child(even){background-color: #B4DFE5;}

#assignment-table tr:nth-child(odd){background-color: #D2FDFF;}

#assignment-table tr:hover {background-color: #F4976C;}

#assignment-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #303C6C;
  color: white;
}

#assignment-table td a {
  display: block;
  width: 100%;
  text-decoration: none;
}

.skilled {
  background-color: green;
}

.working {
  background-color: yellow;
}

.basic {
  background-color: red;
}

#teachingLinks {
  text-align: center;
  padding-top: 50px;
  text-decoration: none;
}

.link {
  text-decoration: none;
  font-size: x-large;
  padding: 10px;
}