/* Page Sytles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: orange;
}

/* Header Styles */
.header {
  background-color: orange;
  padding: 20px;
  text-align: center;
}

h1 { color: brown; }

h2 { color: darkgreen; }

/* Column Styles */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
  text-align: center;
}

/* Left Column Styles */
.column.left {
  width: 20%;
  background-color: orange;
}

button {
  background-color: brown;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  width: 180px;
}

/* 2nd Column Styles */
.column.second {
  width: 25%;
}

.choice {
  width: 230px;
  height: 230px;
  border: 3px solid brown;
  border-radius: 5px;
  background-color: darkolivegreen;
}

/* Main Column Styles */
.column.main {
  width: 45%;
}

#result {
  position: relative;
  height: 490px;
  width: 490px;
  border: 7px solid brown;
  border-radius: 7px;
  padding-top: 10px;
  text-align: center;
  background-color: darkolivegreen;
}

#resultPumpkin {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
}

#resultEyes {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

#resultNose {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

#resultMouth {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.hidden {
  display: none;
}

/* Right Column Styles */
.column.right {
  width: 10%;
  background-color: orange;
}
