.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  padding: 10px;
}

.picture {
  margin: 5px;
  border: 1px solid #006699;
  text-align: center;
  width: 100px;
}

.picture:hover {
  border: 1px solid #cc3300;
}

.picture img {
  width: 100%;
  height: auto;
}