/* Page Sytles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: orange;
}

/* Header Styles */
.header {
  background-color: orange;
  padding: 20px;
  text-align: center;
}

h1 { color: brown; }

h2 { color: darkgreen; }

/* Column Styles */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
  text-align: center;
}

/* Left Column Styles */
.column.side {
  width: 20%;
  background-color: orange;
}

button {
  background-color: brown;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

input {
  background-color: brown;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Main Column Styles */
.column.main {
  width: 70%;
  background-color: darkolivegreen;
}

.column.choice {
  width: 33.33%;
  height: 150px;
  border: 3px solid brown;
  border-radius: 5px;
}

#space {
  height: 10px;
}

#result {
  position: relative;
  height: 500px;
  border: 7px solid brown;
  border-radius: 7px;
  padding-top: 10px;
  text-align: center;
}

#resultPumpkin {
  position: relative;
}

#resultEyes {
  position: absolute;
  top: 27%;
  left: 40%;
}

#resultNose {
  position: absolute;
  top: 50%;
  left: 45%;
}

#resultMouth {
  position: absolute;
  top: 60%;
  left: 35%;
}

.hidden {
  display: none;
}

/* Right Column Styles */
.column.right {
  width: 10%;
  background-color: orange;
}
