/* Page Sytles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: orange;
}

/* Header Styles */
.header {
  background-color: orange;
  padding: 20px;
  text-align: center;
}

#title { 
  color: brown; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}

/* Column Styles */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
  text-align: center;
}

/* Left Border Column Styles */
.column.borderLeftSide {
  width: 5%;
  background-color: orange;
}

/* Left Column Styles */
.column.left {
  width: 20%;
  background-color: orange;
}

#choosePart {
  color: darkolivegreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
}

button {
  background-color: brown;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  width: 180px;
}

/* 2nd Column Styles */
.column.second {
  width: 20%;
}

#pickOne {
  color: darkolivegreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
}

.choice {
  width: 200px;
  height: 200px;
  border: 3px solid brown;
  border-radius: 5px;
  background-color: darkolivegreen;
}

/* Main Column Styles */
.column.main {
  width: 40%;
}

#result {
  position: relative;
  height: 600px;
  width: 600px;
  border: 7px solid brown;
  border-radius: 7px;
  padding-top: 10px;
  text-align: center;
  background-color: darkolivegreen;
}

#resultPumpkin {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
}

#resultEyes {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

#resultNose {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

#resultMouth {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.hidden {
  display: none;
}

/* Right Border Column Styles */
.column.borderRightSide {
  width: 10%;
  background-color: orange;
}
