/********** Page Styling *********/
body {
  background-color: #b3d1ff;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
  font-size: 40px;
  text-align: center;
  color: #206040;
  text-shadow: 1px 1px 2px #e68a00, 0 0 10px #339966, 0 0 25px silver;
}

/********** Sidebar Menu *********/
#sidebar {
  width: 0;
  position: fixed;
  z-index: 2;
  height: 50%;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 50px;
}

#sidebar a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
  min-width: 200%;
}

#sidebar a:hover, button:hover {
  background-color: #818181;
  color: black;
}

.opener {
  z-index: 0;
  font-size: 50px;
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: inherit;
  position: absolute;
  transition: background-color 0.5s, color 0.5s;
}

.opener:hover {
  background-color: #444;
  color: white;
}

.opener2 {
  font-size: 50px;
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: inherit;
  color: #818181;
  transition: background-color 0.5s, color 0.5s;
}

.fixedElement {
  position: sticky;
  top: 0;
}

/********** Home / Map *********/
#map {
  display: block;
  position: relative;
}

#mapImg {
  width: 1500px;
  transform: perspective(1600px) rotateX(50deg);
  z-index: -1;
  position: absolute;
  top: -150px;
  left: 100px;
}

.animalImg {
  position: absolute;
  display: block;
  cursor: pointer;
}

#spottedOwlImg {
  width: 150px;
  top: 70px;
  left: 280px;
}

#graySquirrelImg {
  width: 75px;
  top: 275px;
  left: 240px;
}

#buffaloImg {
  width: 115px;
  top:140px;
  left: 500px;
  transform-origin: right;
}

#westernLizardImg {
  width: 110px;
  top: 295px;
  left: 410px;
}

#redTailedHawkImg {
  width: 85px;
  top: 300px;
  left: 340px;
}

#mooseImg {
  width: 90px;
  top: 510px;
  left: 130px;

}

#hawksbillTurtleImg {
  width: 90px;
  top: 625px;
  left: 530px;
}

#coyoteImg {
  width: 90px;
  top: 490px;
  left: 560px;
}

#bighornSheepImg {
  width: 60px;
  top: 140px;
  left: 700px;
}

#blackBearImg {
  width: 80px;
  top: 300px;
  left: 1215px;
}

#snowyOwlImg {
  width: 60px;
  top: 110px;
  left: 1390px;
  transform-origin: left;
}

#crocodileImg {
  width: 100px;
  top: 610px;
  left: 1420px;
}

      /* Animation On Load */
@keyframes loadMove1 {
  0% { transform: translate3d(500px, -500px, 0);}
  100% { transform: translate3d(0px, 0, 0);}
}

@keyframes loadMove2 {
  0% { transform: translate3d(700px, 2000px, 0) rotateY(180deg);}
  100% { transform: translate3d(0px, 0, 0) rotateY(180deg);}
}

@keyframes loadMove3 {
  0% { transform: translate3d(2000px, -200px, 0);}
  100% { transform: translate3d(0px, 0, 0);}
}

@keyframes loadMove4 {
  0% { transform: translate3d(-1000px, -500px, 0);}
  100% { transform: translate3d(0px, 0, 0);}
}

@keyframes loadMove5 {
  0% { transform: translate3d(2000px, -500px, 0);}
  100% { transform: translate3d(0px, 0, 0);}
}

@keyframes loadMove6 {
  0% { transform: translate3d(130px, -800px, 0);}
  100% { transform: translate3d(0px, 0, 0);}
}

@keyframes loadMove7 {
  0% { transform: translate3d(2000px, 100px, 0);}
  60% { transform: translate3d(100px, 100px, 0);}
  100% { transform: translate3d(0px, 0, 0);}
}

@keyframes loadMove8 {
  0% { transform: translate3d(2000px, -300px, 0);}
  100% { transform: translate3d(0px, 0, 0);}
}

@keyframes loadMove9 {
  0% { transform: translate3d(-1000px, 300px, 0);}
  100% { transform: translate3d(0px, 0, 0);}
}

@keyframes loadMove10 {
  0% { transform: translate3d(0, -500px, 0);}
  100% { transform: translate3d(0px, 0, 0);}
}

@keyframes loadMove11 {
  0% { transform: translate3d(-3000px, -500px, 0);}
  100% { transform: translate3d(0px, 0, 0);}
}

@keyframes loadMove12 {
  0% { transform: translate3d(-2000px, 50px, 0);}
  100% { transform: translate3d(0px, 0, 0);}
}

      /* Animation Move In Place */
@keyframes moveInPlace1 {
  from { transform: rotate(0deg) translate(-10px) rotate(0deg); }
  to { transform: rotate(-360deg) translate(-10px) rotate(360deg); }
}

@keyframes moveInPlace2 {
  0% { transform: rotate(0deg) translate(-10px) rotate(0deg);}
  25% { transform: rotateX(0.5turn) translate(0, -2em); }
  75% { transform: rotate(360deg) translate(-10px) rotate(-360deg); }
  100% { transform: rotateX(0turn); }
}

@keyframes moveInPlace3 {
  0% { transform: translate(0px, 0px); }
  33% { transform: translate(-10px, -10px); }
  66% { transform: translate(10px, -10px); }
  100% { transform: translate(0px, 0px); }
}

@keyframes moveInPlace4 {
  0% { transform: translate(0px, 0px); }
  33% { transform: translate(10px, -10px); }
  66% { transform: translate(-10px, 10px); }
  100% { transform: translate(0px, 0px); }
}

@keyframes moveInPlace5 {
  0% { transform: translate(0px, 0px); }
  25% { transform: translate(10px, 0px); }
  50% { transform: translate(10px, -10px); }
  75% { transform: translate(10px, 0px); }
  100% { transform: translate(0px, 0px); }
}

@keyframes moveInPlace6 {
  0% { transform: translate(0px); }
  49% { transform: translate(10px); }
  50% { transform:  rotateY(180deg); }
  90% { transform: translate(0px) rotateY(180deg); }
  100% { transform:  rotateY(0deg); }
}

@keyframes moveInPlace7 {
  0% { transform: translate(0px, 0px); }
  25% { transform: translate(0px, -10px); }
  50% { transform: translate(20px, -10px) rotateY(50deg); }
  75% { transform: translate(0px, -10px); }
  100% { transform: translate(0px, 0px); }
}

@keyframes moveInPlace8 {
  0% { transform: translate(0px, 0px); }
  50% { transform: translate(-10px, -10px) rotateZ(-20deg) rotateY(50deg); }
  100% { transform: translate(0px, 0px) rotateZ(0deg) rotateY(0deg); }
}

@keyframes moveInPlace9 {
  0% { transform: rotate(0deg) translate(-15px) rotate(0deg); }
  50% { transform: rotate(180deg) translate(-15px) rotate(-180deg); }
  100% { transform: translate(0px); }
}

@keyframes moveInPlace10 {
  0% { transform: rotateZ(0deg); }
  5% { transform: rotateZ(-30deg) translate(10px); }
  100% { transform: rotateZ(0deg) translate(0px); }
}

@keyframes moveInPlace11 {
  0% { transform: rotate(0deg) translate(5px) rotate(0deg); }
  25% { transform: rotate(-180deg) translate(5px) rotate(180deg); }
  50% { transform: rotate(-180deg) translate(10px) rotate(180deg); }
  100% { transform: translate(0px); }
}

@keyframes moveInPlace12 {
  0% { transform: rotate(0deg) translate(-10px) rotate(0deg); }
  25% { transform: rotate(360deg) translate(-10px) rotate(-360deg); }
  50% { transform: rotateZ(40deg); }
  100% { transform: rotateZ(0deg); }
}

/********** Side Panels *********/
.tabcontent {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 90%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: width 1s;
  background-color: #262626;
  color: silver;
  padding-top: 50px;
}

.tabcontent a {
  padding: 15px 8px 15px 8px;
  text-decoration: none;
  font-size: 18px;
  color: silver;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
  width: 30%;
  text-align: center;
  margin-left: 30px;
}

.tabcontent a:hover {
  background-color: silver;
  color: black;
}

.returnBtn {
  text-align: right;
  background-color: #262626;
}

/********** List View *********/
#listTable {
  border-collapse: separate;
  background: #ecf9f2;
  border-radius: 5px;
  margin: 50px auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  table-layout: fixed;
}

#listTable thead {
  border-radius: 5px;
}

#listTable thead th {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
  background-color: #339966;
  border-top: 1px solid #858d99;
}
#listTable thead th:first-child {
  border-top-left-radius: 5px;
}
#listTable thead th:last-child {
  border-top-right-radius: 5px;
}

#listTable tbody tr {
  height: 130px;
}

#listTable tbody td {
  vertical-align: middle;
}

#listTable .tableText {
  vertical-align: middle;
}

#listTable tbody tr td {
  font-weight: 400;
  color: #5f6062;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

#listTable tbody tr:nth-child(2n) {
  background: #b3e6cc;
}

#listTable tbody tr:last-child td {
  border-bottom: none;
}
#listTable tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
#listTable tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

#listTable tbody:hover > tr td {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

#listTable tbody:hover > tr:hover td {
  text-shadow: none;
  color: #2d2d2d;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

#listTable td img {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

/********** Search View *********/
#searchArea {
  margin-left: 100px;
  margin-top: 30px;
}

#searchHeading {
  font-size: 30px;
  color: #339966;
}

#searchInput {
  margin: 20px 0px 20px 0px;
  font-size: 25px;
  padding: 8px;
  transition: border 0.3s;
}

#searchInput:focus {
  border: 5px solid #339966;
}

.searchButtons {
  font-size: 25px;
  background-color: #339966;
  border-radius: 8px;
  border: none;
  margin-left: 35px;
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #339966;
  border-bottom: 16px solid #339966;
  border-left: 16px solid #e68a00;
  border-right: 16px solid #e68a00;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#searchList {
  margin-left: 100px;
  margin-top: 30px;
  font-size: 25px;
}

.searchResultItem {
  cursor: pointer;
}

.searchResultItem:hover {
  color: #e68a00;
}

#noResult {
  color: #e68a00;
}

/********** Results View *********/
#resultTable {
  border-collapse: separate;
  background: #ecf9f2;
  border-radius: 5px;
  margin: 20px 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  table-layout: fixed;
}

#resultTable tr td {
  color: #2d2d2d;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #e0e0e0;
}

.column1 {
  font-weight: bolder;
}

#resultTable tr:nth-child(2n) {
  background: #b3e6cc;
}

#resultTable tr:last-child td {
  border-bottom: none;
}
#resultTable tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
#resultTable tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

#resultTable td a {
  color: #2d2d2d;
  text-decoration: none;
}

