* {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
  text-align: center;
  font-size: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #666666;
  padding: 10px;
}

.grid-item {
  background-color: black;
  border: 10px solid #666666;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.inside-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  justify-content: space-evenly;
}

.indside-grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.touch-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #666666;
  padding: 10px;
}

.touch-grid-item {
  background-color: black;
  border: 10px solid #666666;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#btns {
  padding: 25px;
}

.onClickBtn {
  background-color: #666699;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 8px;
}

#onclickAction {
  font-size: 45px;
  color: #666699;
  padding-top: 25px;
}

#mouseOver {
  background-color: green;
  font-size: 25px;
  width: 200px;
  height: 200px;
}

#mouseOut{
  background-color: purple;
  font-size: 25px;
  width: 200px;
  height: 200px;
}

#keyUpDiv {
  padding: 20px;
}

#keyUp {
  font-size: 18px;
  padding: 8px;
}

#keyUpResult {
  padding: 20px;
  color: orange;
}

#onLoadResult {
  padding: 40px;
}

#onLoadButton {
  background-color: #404040;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 3px;
}

#videoMsg {
  text-align: left;
}
#lastItem {
  background-color: black;
  border: 10px solid #666666;
  padding: 20px;
  padding-left: 100px;
  font-size: 30px;
  text-align: left;
}

.focusInput {
  font-size: 18px;
  padding: 8px;
}

#touchDemo1 {
  white-space: pre;
  min-height: 50px;
}

#touchDemo2 {
  white-space: pre;
  min-height: 50px;
}